@font-face {
    font-family: 'Manrope';
    src: url(manrope.ttf);
    font-style: normal;
}

html {
    --background-color: #EEE8DF;
    --text-light: #2C365A;

    --light-gray: rgba(223, 223, 223, 75%);
    --dark-gray: rgba(17, 17, 17, 75%);


    --font-sans: Manrope;
}

body {
    background-color: var(--background-color);
    margin: 40px 120px;
}

h1, h2, h3, h4, p, a, li {
    margin-block: 0px;
    color: var(--text-light);
    font-family: var(--font-sans);
}

h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
}

h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.1;
}

p, li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px;
}

b {
    font-weight: 800;
}

section {
    padding-block: 20px;
    border-bottom: 1px solid var(--text-light);
    text-align: center;
}

.centered {
    text-align: center;
}

.three-column-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
}

.container {
    width: 25%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px 10px;
    margin-right: 10px
}

@media (max-width: 1300px) {
    .container {
        width: 40%;
        flex-direction: column;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}


.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;              
    height: 40px;
    border: 1px solid black; 
    border-radius: 50%;      
    background-color: #333;
    color: white;  
    cursor: pointer;     
}

.icon-circle svg {
    width: 30px;
    height: 30px;
    color: white;        
}

.icon-circle:hover svg {
    transform: rotate(540deg);
    transition: transform 1s ease;
}